* {
  margin: 0;
  padding: 0;
  background-color: #F1FFFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.main-title {
  width: 75%;
  margin: 1.25em auto;
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}

.calculator {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #B4C5E4;
  border: 2px solid black;
  border-radius: 5px;
}

.display-clear {
  width: 90%;
  height: 4.25em;
  margin: 0.75em 0.75em 0.5em;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B4C5E4;
  border-radius: 5px;
}

.display {
  margin-right: 0.35em;
  padding: 0.25em 0.4em;
  flex-grow: 1;
  background-color: white;
  border-radius: 5px;
  font-size: 1.5em;
}

.clear-button {
  padding: 0.25em;
  margin-right: 0;
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 1.5em;
}

.number-grid {
  max-width: 80%;
  margin: 1em 0 2em;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: #B4C5E4;
  border-radius: 5px;
  order: 2;
}

.number-button {
  width: 2.5em;
  flex-grow: 1;
  font-size: 2em;
  background-color: #8BE1DC;
  border-color: #8BE1DC;
  border-radius: 5px;
}

.nan-button {
  width: 2.5em;
  flex-grow: 1;
  font-size: 2em;
  background-color: #FFB800;
  border-color: #FFB800;
  border-radius: 5px;
}

.operations {
  width: 85%;
  margin: 0 0.75em 0.25em;
  align-self: center;
  display: flex;
  background-color: #B4C5E4;
}

.operator-button {
  width: 2em;
  flex-grow: 1;
  font-size: 2em;
  background-color: cyan;
  border-color: cyan;
  border-radius: 5px;
}
