* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #FCC9B9;
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  width: 250px;
  margin: 2em auto;
  text-align: center;
  padding: 0.5em 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

.calculator {
  margin: 0 auto;
  width: 425px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background-color: #89C4F4;
  border: 2px solid black;
  border-radius: 5px;
}

.display-clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 4em;
  margin: 1.25em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.display {
  flex-grow: 1;
  background-color: lightgrey;
  margin: 0 1em;
  padding: 0.5em;
  border-radius: 5px;
}

.clear-button {
  background-color: lightgrey;
  padding: 0.5em;
  border: 0;
  margin-right: 1em;
  border-radius: 5px;
}

.number-button-container {
  width: 216px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 1.25em;
}

.number-button {
  width: 2em;
  background-color: pink;
  border-radius: 5px;
  font-size: 2em;
}

.equals {
  background-color: red;
}

.operator-buttons {
  width: 4em;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 1.25em;
}

.operator-button {
  background-color: cyan;
  width: 2em;
  border-radius: 5px;
  font-size: 2em;
}
