/* Variables */
$tablet: "(min-width: 750px)";

/* Mixins */
@mixin mediaQueries($arg) {
  @media screen and #{$arg} {
    @content;
  }
}

* {
  background-color: #F1FFFA;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  @include mediaQueries($tablet) {
    font-size: 16px;
  }
}

/* Modal */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: 5px 5px 0 0;
  opacity: .85;
}

.sm-12 {
  background-color: white;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: .5em;
  top: 100px;
  width: 80%;
  max-width: 400px;
}

.modal-cancel {
  background-color: white;
  border: none;
  float: right;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-title {
  background-color: white;
  color: royalblue;
  font-size: 1.2em;
  padding: .5em;
  text-decoration: underline;
}

.user-stories {
  background-color: white;
  font-style: italic;
  padding: .5em 2em .5em 2.5em;
}

.story:nth-of-type(2),
.story:nth-of-type(3) {
  margin-top: 1em;
}

.modal-text {
  background-color: white;
  margin: .5em;
}

.copy {
  background-color: white;
  font-size: 1.1em;
}

.link {
  background-color: white;
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: .85;
}

/* Main Content */
.main-title {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 1.25em auto;
  max-width: 12em;
  padding: .5em;
  text-align: center;
  width: 75%;
}

.calculator {
  background-color: #B4C5E4;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  max-width: 325px;
}

.display-clear {
  align-items: center;
  align-self: center;
  background-color: #B4C5E4;
  border-radius: 5px;
  display: flex;
  height: 4.25em;
  justify-content: space-between;
  margin: 0.75em 0.75em 0.5em;
  width: 90%;
}

.display {
  background-color: white;
  border-radius: 5px;
  direction: rtl;
  flex-grow: 1;
  font-size: 1.5em;
  margin-right: 0.35em;
  padding: 0.25em 0.65em;
}

.clear-button {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 1.5em;
  margin-right: 0;
  padding: 0.25em;
}

.number-grid {
  align-self: center;
  background-color: #B4C5E4;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 1em 0 2em;
  max-width: 80%;
  order: 2;
}

.number-button {
  background-color: #8BE1DC;
  border-color: #8BE1DC;
  border-radius: 5px;
  font-size: 2em;
  flex-grow: 1;
  width: 2.5em;
}

.nan-button {
  background-color: #FFB800;
  border-color: #FFB800;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 2em;
  width: 2.5em;
}

.operations {
  align-self: center;
  background-color: #B4C5E4;
  display: flex;
  margin: 0 0.75em 0.25em;
  width: 85%;
}

.operator-button {
  background-color: cyan;
  border-color: cyan;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 2em;
  width: 2em;
}

.footer {
  bottom: 0;
  height: 30px;
  left: 0;
  margin-bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer a {
  color: blue;
  text-decoration: none;
}
